<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diandian.domain.GoodMapper">
    <resultMap id="goodMapper" type="com.diandian.domain.Good" >
        <id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="topic" property="topic" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="big_type" property="bigType" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="small_type" property="smallType" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="context" property="context" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="is_sale" property="isSale" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="picture" property="picture" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="publish_id" property="publishId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime"  javaType="java.sql.Date" jdbcType="DATE"/>
    </resultMap>

    <insert id="insert" parameterType="com.diandian.domain.Good" useGeneratedKeys="true" keyProperty="id">
        insert into good(topic,big_type,small_type,context,is_sale,picture,publish_id,create_time)values(
        #{topic},#{bigType},#{smallType},#{context},#{isSale},#{picture},#{publishId},now())
    </insert>




</mapper>